body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
}

html, body, #app, #app>div, #root {
	height: 100%;
	color: #2f2f2f;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainContainer {
	display: flex;
	align-items: stretch;
	height:100%;
	flex-direction: column;
}

.centerContainer {
	display: flex;
	flex-direction: row;
	height: calc(100% - 30px);
	margin-top: 2px;
	margin-bottom: 2px;
}

.lightBorder {
	border: 1px solid #e0e0e0;
}

.darkBorder {
	border: 1px solid #c9c9c9;
}

.sidePanel {
	max-width: 50%;
	min-width: 25%;
	flex-direction: column;
	background: #fdfdfd;
	margin: 2px;
	display: flex;
	height: 100%;
}

.sidePanel ul{
	list-style: none;
	padding: 0px;
    margin-left: 10px;
	border-left: 1px dashed #e0e0e0;
	border-top: 1px solid #e0e0e0;
	min-width: 220px;
	color: #2f2f2f;
}

.sidePanel li{

}

.directoryEntryContainer {
	margin-left: 10px;
}

.directoryEntry {
	padding: 5px 5px 5px 5px;
	width: 100%;
	overflow: auto;
}

.directoryEntry:hover{
	
}

.sidePanel li{

}

.filesPanel {
    flex-direction: column;
    margin: 2px;
    width: 100%;
	display: flex;
}

.filesViewportContainer {
	overflow: auto;
	flex-direction: column;
}

.topPanelContainer {
	background-color: #efefef;
	border-top: none;
	padding: 15px 0px 15px 0px;
	display: flex;
	flex-direction: row;
}

.searchBarContainer {
	padding: 10px;
	background: #efefef;
	border-top: none;
	border-left: none;
	border-right: none;
	height: 35px;
}

.searchBar {
	height: 25px;
	width: 100%;
	line-height: 15px;
	background-color: white;
}

.menuContainer {
    padding: 10px;
	background: #efefef;
	border-top: none;
	border-left: none;
	border-right: none;
	height: 35px;
}

.filesViewport {
	padding: 10px;
}

.currentDirectoryEntry {
	color: black;
    background: #efd4529e;
}

.bottomPanelContainer {
	background: #efefef;
    padding: 10px;
    border-top: 1px solid #c9c9c9;
}

.checkboxButton {
	width: 20px;
	height: 20px;
	padding: 10px;
}

.buttonContainer {

}

.menuEntry {
	float: left;
	margin-left: 20px;
	margin-top: 3px;
	width: 30px;
	height: 30px;
	background-size: 100% auto;
	cursor: pointer;
}

.logoutIcon{
    float: right;
	margin-left: 20px;
	margin-top: 3px;
	width: 30px;
	height: 30px;
	background-size: 100% auto;
	cursor: pointer;
}

.opacityInactive {
	opacity: 0.5;
}

.consoleContainer {
    background-color: #000;
    color: #fff;
    font-family: monospace;
    font-size: 14px;
	flex-direction: column;
	border-top: 4px solid #e0e0e0;
	min-width: 0;
	padding: 10px;
}

.console {
    margin: 0;
    resize: none;
    text-decoration: none;
    border: 0;
	flex: auto;
	background-color: #000;
    color: #fff;
    font-family: monospace;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.logContainer {
	color: white;
    width: 100%;
}

.logDirectory {
	color: gold;
    float: left;
    margin-right: 7px;
}

/* Makuch code goes here */

.outline {
    border: 2px solid #86C232;
    background-color: transparent;
    color: #86C232;
    cursor: pointer;
  }

.outline:hover {
  background-color: #86C232;
  color: white;
}

.login-form-div {
  padding: 10px;
  width: 350px;
  background-color: #222629;
  text-align: center;
  display: block;
  color: white;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

.login-form-div input{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid;
  border-color: #3286c2;
  padding: 12px 2px;
  width: 225px;
  color: white;
  border-radius: 24px;
  transition: 0.35s;
}

.login-form-div button{
  border-radius: 24px;
}

.login-form-div input:focus{
  width: 300px;
  border-color: #86C232
}

.file-selected {
  background-color: #f4e392;
}

.file-container-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: .5em 1em 1em;
}

.file-container-icons > div {
  width: 6.25em;
  margin-bottom: 2em;
  padding: 5px;
  text-align: center;
}

.file-container-icons > div > * {
  display: block;
}

.file-container-icons > div > .file{
  width: 6.25em;
  height: 6.25em;
}


.file-container-list > div > .file{
  width: 40px;
  height: 40px;
}

.file-list-entry > * {
  margin-left: 2em;
}
  

.file-container-list{
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  clear: both;
  padding: 1em;
  padding-top: 0.5em;
}


.file-container-list > .file-list-entry-file{
  display: grid;
  grid-template-columns: 4% auto 40% 10%;
}


.file-container-list > .file-list-entry-folder{
  display: grid;
  grid-template-columns: 4% auto;
}

.file-list-entry-header{
  margin-bottom: 0.5em;
  display: grid;
  grid-template-columns: 4% auto 40% 10%;
}

.navigation-buttons{
  position: sticky;
  top: 0;
}

#file-explorer-header{
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  height: 4.25em;
  border: solid black 2px;
  padding: 0.75em;
  flex-wrap: nowrap;
}

#file-explorer-header > img {
  height: 2em;
  width: 2em;
  margin-right: 1px;
  margin-left: 1px;
}

#file-explorer-header > div > img {
  height: 2em;
  width: 2em;
  margin-right: 1px;
  margin-left: 1px;
  float: right;
}

#file-explorer-header > img:hover {
  background-color: lightgray;
}

#file-path-box{
  border: solid black 0.5px;
  width: 100%;
  height: 2em;
  text-align: left;
  padding-left: 1em;
}

input:focus, textarea {
    outline: none !important;
}

.addonViewport {
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #0000003b;
}


.addonContainer {
	margin: 20px;
    width: calc(100% - 42px);
    height: calc(100% - 42px);
    border: 1px solid #8c8c8c;
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow: 2px 2px 20px #00000052;
}

.addonTitleBar {
	overflow: auto;
    padding: 5px;
    background-color: #dadada;
    border-bottom: 1px solid #c7c7c7;
    float: left;
    width: calc(100% - 10px);
}

.addonTitle {
	text-align: center;
    float: left;
    height: 30px;
    line-height: 30px;
    width: calc(100% - 60px);
}

.addonExitButton {
	float: left;
    width: 60px;
    height: 30px;
}

.addonComponentViewport {
	height: calc(100% - 51px);
    float: left;
    width: calc(100% - 10px);
    padding: 5px;
	overflow: auto;
  text-align: left;
  overflow: auto;
}

.addonList {
	position: fixed;
    right: 30px;
    width: auto !important;
    top: 70px;
    font-size: .8em;
    overflow: auto;
}

.addonItem {
	float: right;
    margin-left: 10px;
    background: rgba(104, 255, 105, 0.94);
    padding: 10px;
    border-radius: 100%;
    border: 1px solid #38dc0f;
	cursor: pointer;
}

.addonItem:hover {
	background: rgba(124, 255, 125, 0.94);
}

.addonIcon {
	height: 30px;
	cursor: pointer;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
	visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }

  .titleTitle {
	float: left;
    height: 30px;
    background: none;
	border: none;
	width: calc(100% - 40px);
  }

  .imageViewerContainer {
    display: flex;
    flex-direction: column;
  }

  .thumbnailContainer {
    width: 100%;
  }

  .imageThumb {
    height: 60px;
    width: 80px;
    background-size: cover;
    float: left;
    padding: 14px;
    border: 1px solid black;
  }

  .imageViewport {
    flex: 1 auto;
    width: 100%;
  }

  .imageThumb {
    height: auto!important;
    max-height: calc(100px - 28px)!important;
    width: auto!important;
    max-width: calc(100px - 28px)!important;
    margin: 0 auto!important;
    border: none;
  }

  .file-icon {
    overflow: auto;
    display: flex;
    flex-direction: column;
    max-width: 100px;
    float: left;
    padding: 10px;
  }

  .linksContainer {
    width: 70%;
    margin: 20px auto 0;
    padding: 40px;
    border-radius: 10px;
    background: #aaffaa;
    border: 1px solid #04ff73;
    font-size: 16px;
    text-shadow: 1px 1px 5px black;
    color: white;
    font-family: monospace;
    font-weight: bold;
    text-align: -webkit-center;
    line-height: 30px;
  }
